<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glofora.toolbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.glofora.toolbox.activity.CancelDownloadActivity"></activity>
        <!-- Needed for Android >= Nougat for file access -->
        <!-- Needed for Android >= Nougat for file access -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.glofora_status_video_spliter.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name="com.glofora.toolbox.StatusSaverActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.glofora.toolbox.VideoSplitterActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.glofora.toolbox.viewer.ImageViewer" />
        <activity android:name="com.glofora.toolbox.viewer.VideoPlayer" />
        <activity
            android:name="com.glofora.toolbox.activity.RecentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.glofora.toolbox.activity.RepostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.glofora.toolbox.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.glofora.toolbox.VideoPlayerActivity"
            android:theme="@style/AppThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.glofora.toolbox.TrimmerActivity"
            android:theme="@style/AppThemeWithActionBar"></activity>
        <activity
            android:name="com.glofora.toolbox.activity.HDPictureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.glofora.toolbox.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.glofora.toolbox.activity.VideoDownloaderDialogActivity"
            android:label="Download Video"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity android:name="com.glofora.toolbox.VideoDownloadActivity" />

        <service android:name="com.glofora.toolbox.service.NotificationService" />

        <receiver
            android:name="com.glofora.toolbox.service.reciever.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.glofora.toolbox.service.reciever.NotificationReceiver"
            android:enabled="false"
            android:exported="false" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:enabled="true"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

    </application>

</manifest>