<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glofora.whatstustoolbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        >
        <!-- Needed for Android >= Nougat for file access -->
        <!-- Needed for Android >= Nougat for file access -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.glofora_status_video_spliter.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.glofora.whatstustoolbox.StatusSaverActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.glofora.whatstustoolbox.VideoSplitterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.glofora.whatstustoolbox.viewer.ImageViewer" />
        <activity android:name="com.glofora.whatstustoolbox.viewer.VideoPlayer" />
        <activity
            android:name="com.glofora.whatstustoolbox.activity.RecentsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.glofora.whatstustoolbox.activity.RepostActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name="com.glofora.whatstustoolbox.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.glofora.whatstustoolbox.VideoPlayerActivity"
            android:theme="@style/AppThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.glofora.whatstustoolbox.TrimmerActivity"
            android:theme="@style/AppThemeWithActionBar">

        </activity>

        <activity
            android:name="com.glofora.whatstustoolbox.activity.HDPictureActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        <intent-filter>
            <action android:name="android.intent.action.SEND" />

            <category android:name="android.intent.category.DEFAULT" />

            <data android:mimeType="text/plain" />
        </intent-filter>
        </activity>
        <activity android:name="com.glofora.whatstustoolbox.activity.VideoDownloaderDialogActivity"
            android:label="Download Video"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert"/>
        <activity android:name="com.glofora.whatstustoolbox.VideoDownloadActivity"/>

        <service android:name="com.glofora.whatstustoolbox.service.NotificationService"
            />

        <receiver
            android:name="com.glofora.whatstustoolbox.service.reciever.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.glofora.whatstustoolbox.service.reciever.NotificationReceiver"
            android:enabled="false"
            android:exported="false"/>
    </application>


</manifest>