<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.glofora.whatstustoolbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.CancelDownloadActivity"></activity>
        <!-- Needed for Android >= Nougat for file access -->
        <!-- Needed for Android >= Nougat for file access -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.glofora_status_video_spliter.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name=".StatusSaverActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".VideoSplitterActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".viewer.ImageViewer" />
        <activity android:name=".viewer.VideoPlayer" />
        <activity
            android:name=".activity.RecentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RepostActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoPlayerActivity"
            android:theme="@style/AppThemeWithActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrimmerActivity"
            android:theme="@style/AppThemeWithActionBar"></activity>
        <activity
            android:name=".activity.HDPictureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.VideoDownloaderDialogActivity"
            android:label="Download Video"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog.Alert" />
        <activity android:name=".VideoDownloadActivity" />

        <service android:name=".service.NotificationService" />

        <receiver
            android:name=".service.reciever.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.reciever.NotificationReceiver"
            android:enabled="false"
            android:exported="false" />

<!--        Whatsapp stickers-->
        <activity android:name=".whatsappstickers.activities.AddToStickerPackActivity"
            android:label="Add to sticker pack" android:theme="@style/MixAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappstickers.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".whatsappstickers.activities.MainActivity">
        </activity>
        <activity
            android:name=".whatsappstickers.backgroundRemover.CutOutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeWithOutActionBar"/>
        <activity
            android:name=".whatsappstickers.backgroundRemover.IntroActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MixAppTheme"/>
        <activity
            android:name=".whatsappstickers.whatsapp_api.StickerPackDetailsActivity"
            android:parentActivityName=".whatsappstickers.activities.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute"
            android:theme="@style/MixAppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappstickers.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".whatsappstickers.activities.RequestPermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".whatsappstickers.whatsapp_api.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName=".whatsappstickers.whatsapp_api.StickerPackDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappstickers.whatsapp_api.StickerPackDetailsActivity"/>
        </activity>

        <provider
            android:name=".whatsappstickers.whatsapp_api.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.whatsapp.sticker.READ"
            android:writePermission="com.whatsapp.sticker.WRITE"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:enabled="true"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource"/>
        </provider>

        <activity
            android:name=".whatsappstickers.activities.NewStickerPackActivity"
            android:label="@string/title_activity_new_sticker_pack"
            android:launchMode="singleTask"
            android:parentActivityName=".whatsappstickers.activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappstickers.activities.MainActivity"/>
        </activity>
    </application>

</manifest>